CREATE DATABASE lightapi;

CREATE USER '{{ node1.light_api.mainnet.maria_db.dbname }}'@'%' IDENTIFIED BY '{{ node1.light_api.mainnet.maria_db.password }}';
GRANT ALL ON {{ node1.light_api.mainnet.maria_db.dbname }}.* TO '{{ node1.light_api.mainnet.maria_db.user }}'@'%';
grant SELECT on {{ node1.light_api.mainnet.maria_db.dbname }}.* to '{{ node1.light_api.mainnet.maria_db.user }}'@'%' identified by '{{ node1.light_api.mainnet.maria_db.password }}';

use {{ node1.light_api.mainnet.maria_db.dbname }};

CREATE TABLE NETWORKS
(
 network           VARCHAR(15) PRIMARY KEY,
 chainid           VARCHAR(64) NOT NULL,
 description       VARCHAR(256) NOT NULL,
 systoken          VARCHAR(7) NOT NULL,
 decimals          TINYINT NOT NULL,
 production        TINYINT NOT NULL DEFAULT 1,
 rex_enabled       TINYINT NOT NULL DEFAULT 0
) ENGINE=InnoDB;


CREATE TABLE SYNC
(
 network           VARCHAR(15) PRIMARY KEY,
 block_num         BIGINT NOT NULL,
 block_time        DATETIME NOT NULL,
 irreversible      BIGINT NOT NULL 
) ENGINE=InnoDB;



