#!/usr/bin/env bash
#docker exec eosio-lightapi-mariadb /bin/sh -c 'mariadb -u root -p{{ node1.light_api.mainnet.maria_db.root }} -e "DROP DATABASE IF EXISTS {{ node1.light_api.mainnet.maria_db.dbname }};"'
#docker exec eosio-lightapi-mariadb /bin/sh -c 'mariadb -u root -p{{ node1.light_api.mainnet.maria_db.root }} -e "CREATE DATABASE {{ node1.light_api.mainnet.maria_db.dbname }};"'
docker exec eosio-lightapi-mariadb /bin/sh -c "mariadb -u root -p{{ node1.light_api.mainnet.maria_db.root }} {{ node1.light_api.mainnet.maria_db.dbname }} < /var/lib/snapshots/lightapi_db.sql.dump"